In [1]:
from bs4 import BeautifulSoup
import requests
import time
import random
import re
import csv
import pandas as pd

In [2]:
from os import walk

# folder path
dir_path = r'reviews'
res = []
for (dir_path, dir_names, file_names) in walk(dir_path):
    # print(f'Adding these files: {file_names}')
    res.extend(file_names)
    # don't look inside any subdirectory
    break
print(res)

['reviews (1).csv', 'reviews (10).csv', 'reviews (11).csv', 'reviews (12).csv', 'reviews (13).csv', 'reviews (14).csv', 'reviews (15).csv', 'reviews (16).csv', 'reviews (17).csv', 'reviews (18).csv', 'reviews (19).csv', 'reviews (20).csv', 'reviews (21).csv', 'reviews (22).csv', 'reviews (23).csv', 'reviews (24).csv', 'reviews (3).csv', 'reviews (30).csv', 'reviews (31).csv', 'reviews (32).csv', 'reviews (33).csv', 'reviews (34).csv', 'reviews (35).csv', 'reviews (36).csv', 'reviews (37).csv', 'reviews (38).csv', 'reviews (39).csv', 'reviews (4).csv', 'reviews (40).csv', 'reviews (41).csv', 'reviews (42).csv', 'reviews (43).csv', 'reviews (44).csv', 'reviews (45).csv', 'reviews (46).csv', 'reviews (47).csv', 'reviews (49).csv', 'reviews (5).csv', 'reviews (50).csv', 'reviews (51).csv', 'reviews (52).csv', 'reviews (53).csv', 'reviews (54).csv', 'reviews (55).csv', 'reviews (56).csv', 'reviews (57).csv', 'reviews (58).csv', 'reviews (59).csv', 'reviews (6).csv', 'reviews (60).csv', 'reviews (61).csv', 'reviews (7).csv', 'reviews (8).csv', 'reviews (9).csv', 'reviews st.csv', 'reviews.csv', 'reviews2.csv', 'reviews3.csv']

In [3]:
# list of the files to keep
keep = []

for name in res:
    if 'review' in name:
        keep.append(name)
print(keep)

['reviews (1).csv', 'reviews (10).csv', 'reviews (11).csv', 'reviews (12).csv', 'reviews (13).csv', 'reviews (14).csv', 'reviews (15).csv', 'reviews (16).csv', 'reviews (17).csv', 'reviews (18).csv', 'reviews (19).csv', 'reviews (20).csv', 'reviews (21).csv', 'reviews (22).csv', 'reviews (23).csv', 'reviews (24).csv', 'reviews (3).csv', 'reviews (30).csv', 'reviews (31).csv', 'reviews (32).csv', 'reviews (33).csv', 'reviews (34).csv', 'reviews (35).csv', 'reviews (36).csv', 'reviews (37).csv', 'reviews (38).csv', 'reviews (39).csv', 'reviews (4).csv', 'reviews (40).csv', 'reviews (41).csv', 'reviews (42).csv', 'reviews (43).csv', 'reviews (44).csv', 'reviews (45).csv', 'reviews (46).csv', 'reviews (47).csv', 'reviews (49).csv', 'reviews (5).csv', 'reviews (50).csv', 'reviews (51).csv', 'reviews (52).csv', 'reviews (53).csv', 'reviews (54).csv', 'reviews (55).csv', 'reviews (56).csv', 'reviews (57).csv', 'reviews (58).csv', 'reviews (59).csv', 'reviews (6).csv', 'reviews (60).csv', 'reviews (61).csv', 'reviews (7).csv', 'reviews (8).csv', 'reviews (9).csv', 'reviews st.csv', 'reviews.csv', 'reviews2.csv', 'reviews3.csv']

In [4]:
# Confirms the list of files to pull data from
work_on = []
with open('list.csv', 'r') as csvfile:
    info = csvfile.read()
    for line in keep:
        if line in info:
            continue
        else:
            print(f'Pulling data from {line}')
            work_on.append(line)
    csvfile.close()

Pulling data from reviews (38).csv
Pulling data from reviews (39).csv
Pulling data from reviews (40).csv
Pulling data from reviews (41).csv
Pulling data from reviews (42).csv
Pulling data from reviews (43).csv
Pulling data from reviews (44).csv
Pulling data from reviews (45).csv
Pulling data from reviews (46).csv
Pulling data from reviews (47).csv
Pulling data from reviews (49).csv
Pulling data from reviews (50).csv
Pulling data from reviews (51).csv
Pulling data from reviews (52).csv
Pulling data from reviews (53).csv
Pulling data from reviews (54).csv
Pulling data from reviews (55).csv
Pulling data from reviews (56).csv
Pulling data from reviews (57).csv
Pulling data from reviews (58).csv
Pulling data from reviews (59).csv
Pulling data from reviews (60).csv
Pulling data from reviews (61).csv

In [5]:
# !pip install --upgrade pandas

In [6]:
li = []
with open('list.csv', 'a+', encoding='utf-8') as csvfile:
    list_writer = csv.writer(csvfile)
    dic = {}
    length = len(work_on)
    print(length)
    while length >= 1:
        for name in work_on:
            print(f'{name} is being read ..............')
            df = pd.read_csv(f'reviews/{name}', index_col=None, on_bad_lines='skip',header=None)
            li.append(df)
            dic['name'] = name
            list_writer.writerow(dic.values())
            length -= 1
        final_frame = pd.concat(li, axis=0, ignore_index=True)
        print('Gone through entire list')

23
reviews (38).csv is being read ..............
reviews (39).csv is being read ..............
reviews (40).csv is being read ..............
reviews (41).csv is being read ..............
reviews (42).csv is being read ..............
reviews (43).csv is being read ..............
reviews (44).csv is being read ..............
reviews (45).csv is being read ..............
reviews (46).csv is being read ..............
reviews (47).csv is being read ..............
reviews (49).csv is being read ..............
reviews (50).csv is being read ..............
reviews (51).csv is being read ..............
reviews (52).csv is being read ..............
reviews (53).csv is being read ..............
reviews (54).csv is being read ..............
reviews (55).csv is being read ..............
reviews (56).csv is being read ..............
reviews (57).csv is being read ..............
reviews (58).csv is being read ..............
reviews (59).csv is being read ..............
reviews (60).csv is being read ..............
reviews (61).csv is being read ..............
Gone through entire list

In [7]:
final_frame.head()

,0,1,2,3,4,5,6
0,Kobsupang R.,/user_details?userid=7FoE5PH5CV6I6ZEfxVG5rg,"New York, NY",1/9/2023,5.0,No comment,https://www.yelp.com/biz/two-hands-new-york-5?...
1,Ellen L.,/user_details?userid=IcjPM9m9MHCDpkuwBXqvQA,"Midtown East, New York, NY",3/27/2023,3.0,No comment,https://www.yelp.com/biz/two-hands-new-york-5?...
2,Joy Z.,/user_details?userid=Wtwi0BUKkZTHREjPGanjGA,"New York, NY",2/13/2023,4.0,No comment,https://www.yelp.com/biz/two-hands-new-york-5?...
3,Susan N.,/user_details?userid=txBJRVbzeiTThHBnJ2Lxgw,"Buffalo, NY",11/27/2022,4.0,No comment,https://www.yelp.com/biz/two-hands-new-york-5?...
4,Renata G.,/user_details?userid=JKGfEkxAcUJW4eMOzwF4tg,"New York, NY",2/16/2023,5.0,Always consistently good brunch/lunch food! Yu...,https://www.yelp.com/biz/two-hands-new-york-5?...

In [8]:
# remove duplicates
final_frame = final_frame.drop_duplicates()

# check duplicates
print(f'The num of duplicates are: {final_frame.duplicated().sum()} duplicates')

The num of duplicates are: 0 duplicates

In [9]:
# columns having null values
final_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46530 entries, 0 to 56621
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       46530 non-null  object
 1   1       46530 non-null  object
 2   2       46530 non-null  object
 3   3       46530 non-null  object
 4   4       46530 non-null  float64
 5   5       46530 non-null  object
 6   6       46519 non-null  object
dtypes: float64(1), object(6)
memory usage: 2.8+ MB

In [10]:
final_frame = final_frame.dropna(axis=0)
final_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46519 entries, 0 to 56621
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       46519 non-null  object
 1   1       46519 non-null  object
 2   2       46519 non-null  object
 3   3       46519 non-null  object
 4   4       46519 non-null  float64
 5   5       46519 non-null  object
 6   6       46519 non-null  object
dtypes: float64(1), object(6)
memory usage: 2.8+ MB

In [11]:
# check the percentage of restaurants done in the final csv

restaurants = pd.read_csv('restaurant_data.csv')

rest_df = restaurants.drop_duplicates(subset=['URL'])
rest_df.head()

,Name,Rating,Pricing,URL,Latitude,Longitude,Transactions,Location,Phone,Display Phone,Distance,Reviews,Review Count,Cuisine,Restaurant ID,Number of Reviews
0,Da Andrea,4,$$,https://www.yelp.com/biz/da-andrea-new-york?ad...,40.736218,-73.995970,"['delivery', 'pickup', 'restaurant_reservation']","35 W 13th St, New York, NY 10011",1.212367e+10,(212) 367-1979,3526.365252,[{'text': 'This small and crowded place seems ...,3,"I, t, a, l, i, a, n",hdiuRS9sVZSMReZm4oV5SA,1851
1,LoveMama,5,$$,https://www.yelp.com/biz/lovemama-new-york?adj...,40.730409,-73.986127,"['delivery', 'pickup', 'restaurant_reservation']","174 2nd Ave, New York, NY 10003",1.212255e+10,(212) 254-5370,2645.074283,[{'text': 'Absolutely LOVED LoveMama!! As a co...,3,"T, h, a, i",jjJc_CrkB2HodEinB6cWww,6377
2,Ye's Apothecary,5,$$$,https://www.yelp.com/biz/yes-apothecary-new-yo...,40.719450,-73.989800,[],"119 Orchard St, New York, NY 10002",NaN,NaN,1638.756115,[{'text': 'Edy and Josh are the BEST bartender...,3,"S, z, e, c, h, u, a, n",8YWLuLUKj0t_0_Xv06UUtw,212
3,Joe's Shanghai,4,$$,https://www.yelp.com/biz/joes-shanghai-new-yor...,40.715661,-73.996701,"['delivery', 'pickup']","46 Bowery St, New York, NY 10013",1.212234e+10,(212) 233-8888,1766.176007,[{'text': 'This is the third stop of our food ...,3,"S, h, a, n, g, h, a, i, n, e, s, e",0CjK3esfpFcxIopebzjFxA,7098
4,Antidote,4,$$,https://www.yelp.com/biz/antidote-brooklyn-2?a...,40.714253,-73.965448,"['delivery', 'pickup']","66 S 2nd St, Brooklyn, NY 11249",1.718782e+10,(718) 782-2585,1376.494330,[{'text': 'Excellent service & food! The drink...,3,"C, o, c, k, t, a, i, l, , B, a, r, s",4DInnPhOyvXFbYpUdO0SMQ,325

In [12]:
# get the set of available restaurants
got_rest = set(final_frame[6])

list_rest = set(rest_df['URL'])

In [13]:
# What restaurants do we have
missing_urls = []
for url in list_rest:
    if url in got_rest:
        num = len(final_frame[final_frame[6] == url])
        expected = rest_df[rest_df['URL'] == url]
        # print(expected['Number of Reviews'])
        eventual = float(num/expected['Number of Reviews']) *100
        if eventual >= 90.0:
            print(f"We have {expected['Name']} and have about ....... {eventual}% of expected collection")
            print('WITHIN COMPLETED EXPECTATION')
        else:
            print(f"We have {expected['Name']} and have about ....... {eventual}% of expected collection")
            print(f"{expected['Name']} NEEDS MORE COLLECTION PLEASE")
            missing_urls.append(url)
    else:
        expected = rest_df[rest_df['URL'] == url]
        num = 0
        eventual = (num/expected['Number of Reviews']) *100
        # print(f"We have {expected['Name']} and have about ....... {eventual}% of expected collection")
        # print(f"{expected['Name']} NEEDS MORE COLLECTION PLEASE")
        missing_urls.append(url)

        
print('Done with list of content')

We have 35    Jack's Wife Freda
Name: Name, dtype: object and have about ....... 102.22222222222221% of expected collection
WITHIN COMPLETED EXPECTATION
We have 498    Pier 66 Maritime
Name: Name, dtype: object and have about ....... 98.4126984126984% of expected collection
WITHIN COMPLETED EXPECTATION
We have 242    Henry's End
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 305    Azule Cantina
Name: Name, dtype: object and have about ....... 94.44444444444444% of expected collection
WITHIN COMPLETED EXPECTATION
We have 111    Place des Fêtes
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 3    Joe's Shanghai
Name: Name, dtype: object and have about ....... 92.7585235277543% of expected collection
WITHIN COMPLETED EXPECTATION
We have 383    Tipsy Shanghai
Name: Name, dtype: object and have about ....... 96.65738161559888% of expected collection
WITHIN COMPLETED EXPECTATION
We have 269    shabushabu Mayumon
Name: Name, dtype: object and have about ....... 95.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 129    Colonia Verde
Name: Name, dtype: object and have about ....... 17.316017316017316% of expected collection
129    Colonia Verde
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 172    Silky Kitchen
Name: Name, dtype: object and have about ....... 99.64539007092199% of expected collection
WITHIN COMPLETED EXPECTATION
We have 335    no. 7
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 152    LĒNA
Name: Name, dtype: object and have about ....... 100.92592592592592% of expected collection
WITHIN COMPLETED EXPECTATION
We have 404    La Pecora Bianca
Name: Name, dtype: object and have about ....... 101.01010101010101% of expected collection
WITHIN COMPLETED EXPECTATION
We have 128    Tokuyamatcha & Onigirazu Bar
Name: Name, dtype: object and have about ....... 98.64864864864865% of expected collection
WITHIN COMPLETED EXPECTATION
We have 325    Lupa
Name: Name, dtype: object and have about ....... 90.48171793383634% of expected collection
WITHIN COMPLETED EXPECTATION
We have 330    Izakaya
Name: Name, dtype: object and have about ....... 92.4187725631769% of expected collection
WITHIN COMPLETED EXPECTATION
We have 334    Chinah
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 10    ARIARI
Name: Name, dtype: object and have about ....... 102.27272727272727% of expected collection
WITHIN COMPLETED EXPECTATION
We have 225    Xu's Public House
Name: Name, dtype: object and have about ....... 99.28571428571429% of expected collection
WITHIN COMPLETED EXPECTATION
We have 42    Momofuku Ssam Bar
Name: Name, dtype: object and have about ....... 100.9009009009009% of expected collection
WITHIN COMPLETED EXPECTATION
We have 83    Ugly Baby
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 376    Fine & Rare
Name: Name, dtype: object and have about ....... 100.4040404040404% of expected collection
WITHIN COMPLETED EXPECTATION
We have 113    El Pingüino
Name: Name, dtype: object and have about ....... 109.09090909090908% of expected collection
WITHIN COMPLETED EXPECTATION
We have 135    Good Thanks Cafe
Name: Name, dtype: object and have about ....... 83.79120879120879% of expected collection
135    Good Thanks Cafe
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 433    Los Tacos No.1
Name: Name, dtype: object and have about ....... 72.81553398058253% of expected collection
433    Los Tacos No.1
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 442    Wadadli Jerk
Name: Name, dtype: object and have about ....... 106.25% of expected collection
WITHIN COMPLETED EXPECTATION
We have 51    Clover Hill
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 79    The Grotto
Name: Name, dtype: object and have about ....... 104.16666666666667% of expected collection
WITHIN COMPLETED EXPECTATION
We have 188    Tonchin
Name: Name, dtype: object and have about ....... 108.69565217391303% of expected collection
WITHIN COMPLETED EXPECTATION
We have 390    LaRina Pastificio & Vino
Name: Name, dtype: object and have about ....... 73.97260273972603% of expected collection
390    LaRina Pastificio & Vino
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 12    Crab House All You Can Eat Seafood
Name: Name, dtype: object and have about ....... 100.9421265141319% of expected collection
WITHIN COMPLETED EXPECTATION
We have 73    Oxomoco
Name: Name, dtype: object and have about ....... 41.889483065953655% of expected collection
73    Oxomoco
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 88    Las Santas
Name: Name, dtype: object and have about ....... 100.32362459546927% of expected collection
WITHIN COMPLETED EXPECTATION
We have 446    Pierre Loti Mediterranean Kitchen& Bar
Name: Name, dtype: object and have about ....... 200.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 230    Keg & Lantern Brewing Company
Name: Name, dtype: object and have about ....... 200.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 157    Rice & Miso
Name: Name, dtype: object and have about ....... 99.01960784313727% of expected collection
WITHIN COMPLETED EXPECTATION
We have 87    Omusubi Gonbei
Name: Name, dtype: object and have about ....... 100.91743119266054% of expected collection
WITHIN COMPLETED EXPECTATION
We have 95    Cantina 33
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 266    Cornbread Brooklyn
Name: Name, dtype: object and have about ....... 104.2654028436019% of expected collection
WITHIN COMPLETED EXPECTATION
We have 449    Leyla
Name: Name, dtype: object and have about ....... 100.4566210045662% of expected collection
WITHIN COMPLETED EXPECTATION
We have 276    Manousheh - Bleecker
Name: Name, dtype: object and have about ....... 99.40828402366864% of expected collection
WITHIN COMPLETED EXPECTATION
We have 402    Purepecha
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 187    Chef Huang Jian Bing & Peking Duck
Name: Name, dtype: object and have about ....... 98.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 164    Eyval
Name: Name, dtype: object and have about ....... 105.26315789473684% of expected collection
WITHIN COMPLETED EXPECTATION
We have 493    Naked Tomato
Name: Name, dtype: object and have about ....... 104.8780487804878% of expected collection
WITHIN COMPLETED EXPECTATION
We have 115    Excuse My French
Name: Name, dtype: object and have about ....... 91.21813031161473% of expected collection
WITHIN COMPLETED EXPECTATION
We have 161    Jajaja Mexicana
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 489    Dim Sum Palace
Name: Name, dtype: object and have about ....... 111.11111111111111% of expected collection
WITHIN COMPLETED EXPECTATION
We have 400    Go! Go! Curry!
Name: Name, dtype: object and have about ....... 15.136476426799009% of expected collection
400    Go! Go! Curry!
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 349    Cafe Volkan
Name: Name, dtype: object and have about ....... 102.27272727272727% of expected collection
WITHIN COMPLETED EXPECTATION
We have 329    Maman
Name: Name, dtype: object and have about ....... 99.59239130434783% of expected collection
WITHIN COMPLETED EXPECTATION
We have 168    Vineapple Cafe
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 267    Two Hands
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 109    Olle
Name: Name, dtype: object and have about ....... 107.14285714285714% of expected collection
WITHIN COMPLETED EXPECTATION
We have 415    Cafe Katja
Name: Name, dtype: object and have about ....... 99.63898916967509% of expected collection
WITHIN COMPLETED EXPECTATION
We have 211    Aragvi
Name: Name, dtype: object and have about ....... 107.6923076923077% of expected collection
WITHIN COMPLETED EXPECTATION
We have 490    Steak Frites Bistro
Name: Name, dtype: object and have about ....... 103.921568627451% of expected collection
WITHIN COMPLETED EXPECTATION
We have 439    Yin Ji Chang Fen Rice Roll
Name: Name, dtype: object and have about ....... 98.97172236503856% of expected collection
WITHIN COMPLETED EXPECTATION
We have 277    3 Times
Name: Name, dtype: object and have about ....... 99.06976744186046% of expected collection
WITHIN COMPLETED EXPECTATION
We have 182    Cool World
Name: Name, dtype: object and have about ....... 111.11111111111111% of expected collection
WITHIN COMPLETED EXPECTATION
We have 204    WarrenPeace
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION

We have 7    Benemon
Name: Name, dtype: object and have about ....... 99.71387696709584% of expected collection
WITHIN COMPLETED EXPECTATION
We have 220    Paisley
Name: Name, dtype: object and have about ....... 98.9247311827957% of expected collection
WITHIN COMPLETED EXPECTATION
We have 56    Nowon
Name: Name, dtype: object and have about ....... 100.40160642570282% of expected collection
WITHIN COMPLETED EXPECTATION
We have 492    San Marino Ristorante
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 239    Macao Trading Company
Name: Name, dtype: object and have about ....... 100.23696682464455% of expected collection
WITHIN COMPLETED EXPECTATION
We have 14    Wah Fung No 1
Name: Name, dtype: object and have about ....... 89.01154039136979% of expected collection
14    Wah Fung No 1
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 166    Locanda Verde
Name: Name, dtype: object and have about ....... 99.55995599559955% of expected collection
WITHIN COMPLETED EXPECTATION
We have 235    Dinner Party
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 341    Verde on Smith
Name: Name, dtype: object and have about ....... 99.0487514863258% of expected collection
WITHIN COMPLETED EXPECTATION
We have 30    Aurora
Name: Name, dtype: object and have about ....... 78.5982478097622% of expected collection
30    Aurora
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 332    Medusa The Greek
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 381    Do Not Disturb
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 245    Osamil
Name: Name, dtype: object and have about ....... 6.3897763578274756% of expected collection
245    Osamil
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 310    Yia Yia's Taverna
Name: Name, dtype: object and have about ....... 71.69811320754717% of expected collection
310    Yia Yia's Taverna
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 31    Tasty Hand-Pulled Noodles
Name: Name, dtype: object and have about ....... 25.700164744645797% of expected collection
31    Tasty Hand-Pulled Noodles
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 300    Ho Foods
Name: Name, dtype: object and have about ....... 99.75124378109453% of expected collection
WITHIN COMPLETED EXPECTATION
We have 143    Glin Thai Bistro
Name: Name, dtype: object and have about ....... 96.61016949152543% of expected collection
WITHIN COMPLETED EXPECTATION
We have 241    H&H Reserve
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 179    Gugu Room
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 121    Okonomi
Name: Name, dtype: object and have about ....... 99.41176470588235% of expected collection
WITHIN COMPLETED EXPECTATION
We have 237    Dim Sum Palace
Name: Name, dtype: object and have about ....... 100.06064281382656% of expected collection
WITHIN COMPLETED EXPECTATION
We have 308    Bar Camillo
Name: Name, dtype: object and have about ....... 78.72340425531915% of expected collection
308    Bar Camillo
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 262    Chino Grande
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 77    Pecking House
Name: Name, dtype: object and have about ....... 102.94117647058823% of expected collection
WITHIN COMPLETED EXPECTATION
We have 331    Maru 2
Name: Name, dtype: object and have about ....... 87.5% of expected collection
331    Maru 2
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 195    Casino
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 373    Monarch Restaurant
Name: Name, dtype: object and have about ....... 99.12280701754386% of expected collection
WITHIN COMPLETED EXPECTATION
We have 106    Da Claudio
Name: Name, dtype: object and have about ....... 99.510603588907% of expected collection
WITHIN COMPLETED EXPECTATION
We have 389    The HiHi Room
Name: Name, dtype: object and have about ....... 101.40845070422534% of expected collection
WITHIN COMPLETED EXPECTATION
We have 194    Citizens Of Gramercy
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 156    Steam - Shanghai Asian Fusion
Name: Name, dtype: object and have about ....... 98.78048780487805% of expected collection
WITHIN COMPLETED EXPECTATION
We have 497    Luchadores
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 399    THEP Thai Restaurant
Name: Name, dtype: object and have about ....... 100.07827788649706% of expected collection
WITHIN COMPLETED EXPECTATION
We have 487    Oxalis
Name: Name, dtype: object and have about ....... 94.78260869565217% of expected collection
WITHIN COMPLETED EXPECTATION
We have 149    Soco
Name: Name, dtype: object and have about ....... 100.08561643835617% of expected collection
WITHIN COMPLETED EXPECTATION
We have 184    Koloman
Name: Name, dtype: object and have about ....... 107.6923076923077% of expected collection
WITHIN COMPLETED EXPECTATION
We have 134    Fishmarket II
Name: Name, dtype: object and have about ....... 103.7037037037037% of expected collection
WITHIN COMPLETED EXPECTATION
We have 8    The Cabin NYC
Name: Name, dtype: object and have about ....... 99.81515711645102% of expected collection
WITHIN COMPLETED EXPECTATION
We have 392    The Warren
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 289    Aldama
Name: Name, dtype: object and have about ....... 95.71428571428572% of expected collection
WITHIN COMPLETED EXPECTATION
We have 120    Coppelia
Name: Name, dtype: object and have about ....... 97.82465392221489% of expected collection
WITHIN COMPLETED EXPECTATION
We have 114    Sweetwater Restaurant
Name: Name, dtype: object and have about ....... 99.56236323851203% of expected collection
WITHIN COMPLETED EXPECTATION
We have 393    Five Leaves
Name: Name, dtype: object and have about ....... 98.30409356725146% of expected collection
WITHIN COMPLETED EXPECTATION
We have 60    Sagaponack
Name: Name, dtype: object and have about ....... 100.85470085470085% of expected collection
WITHIN COMPLETED EXPECTATION
We have 189    Roberta's
Name: Name, dtype: object and have about ....... 14.092307692307692% of expected collection
189    Roberta's
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 336    Butter Dose
Name: Name, dtype: object and have about ....... 108.88888888888889% of expected collection
WITHIN COMPLETED EXPECTATION
We have 281    Take31
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 32    Wenwen
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 203    Prime Meat Rokko
Name: Name, dtype: object and have about ....... 98.20627802690582% of expected collection
WITHIN COMPLETED EXPECTATION
We have 371    Clinton Hall - FiDi
Name: Name, dtype: object and have about ....... 99.86807387862797% of expected collection
WITHIN COMPLETED EXPECTATION
We have 153    The Greek
Name: Name, dtype: object and have about ....... 99.23664122137404% of expected collection
WITHIN COMPLETED EXPECTATION
We have 144    Banter
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 34    Tin Building by Jean-Georges
Name: Name, dtype: object and have about ....... 82.17821782178217% of expected collection
34    Tin Building by Jean-Georges
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 209    Los Tacos No. 1
Name: Name, dtype: object and have about ....... 65.68364611260054% of expected collection
209    Los Tacos No. 1
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 210    Dim Sum Palace
Name: Name, dtype: object and have about ....... 99.16434540389972% of expected collection
WITHIN COMPLETED EXPECTATION
We have 342    Suram NYC
Name: Name, dtype: object and have about ....... 118.75% of expected collection
WITHIN COMPLETED EXPECTATION
We have 186    MayRee
Name: Name, dtype: object and have about ....... 96.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 145    Dumpling N' Dips
Name: Name, dtype: object and have about ....... 100.8130081300813% of expected collection
WITHIN COMPLETED EXPECTATION
We have 396    Popular
Name: Name, dtype: object and have about ....... 93.26923076923077% of expected collection
WITHIN COMPLETED EXPECTATION
We have 196    Kyuramen - Chinatown
Name: Name, dtype: object and have about ....... 98.95833333333334% of expected collection
WITHIN COMPLETED EXPECTATION
We have 302    La Marchande
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 198    Miznon
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 28    Kalye
Name: Name, dtype: object and have about ....... 117.64705882352942% of expected collection
WITHIN COMPLETED EXPECTATION
We have 146    Taiwan Pork Chop House
Name: Name, dtype: object and have about ....... 98.8391376451078% of expected collection
WITHIN COMPLETED EXPECTATION
We have 468    Ai Ki Ya
Name: Name, dtype: object and have about ....... 97.74436090225564% of expected collection
WITHIN COMPLETED EXPECTATION

We have 27    Salma
Name: Name, dtype: object and have about ....... 71.52317880794702% of expected collection
27    Salma
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 53    Hakata Tonton
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 382    Fukurou Brooklyn
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 263    Amici Ristorante
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 119    Les Enfants de Boheme
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
Done with list of content

In [14]:
len(missing_urls)

321

In [15]:
with open('final_revs.csv', 'a+', encoding='utf-8') as csvfile:
        review_writer = csv.writer(csvfile)
        for index, row in final_frame.iterrows():
            dic = {}
        
            # Assign the user values to the dictionary
            dic['username'] = row[0]
            dic['account'] = row[1]
            dic['location'] = row[2]
            dic['date'] = row[3]
            dic['rating'] = row[4]
            dic['comments'] = row[5]
            dic['restaurant'] = row[6]

            # write this info to the local csv
            review_writer.writerow(dic.values())
print('Done')

Done

In [16]:
try:
    missing_url_df = pd.read_csv('missing_urls.csv', header=None)
except pd.errors.EmptyDataError:
    found_missing_urls = list(['File is empty'])
else:
    found_missing_urls = list(missing_url_df)


found_missing_urls

[0]

In [17]:
# Dealing with missing urls
with open('missing_urls.csv', 'a+', encoding='utf-8') as csvfile:
        review_writer = csv.writer(csvfile)
        for url in missing_urls:
            dic = {}
            # print(url)
        
            if url in found_missing_urls:
                continue
            else:
                # Assign the user values to the dictionary
                dic['url'] = url

                # write this info to the local csv
                review_writer.writerow(dic.values())
print('Done')

Done

In [18]:
data = pd.read_csv('final_revs.csv')