In [1]:
from bs4 import BeautifulSoup
import requests
import time
import random
import re
import csv
import pandas as pd

In [2]:
from os import walk

# folder path
dir_path = r'reviews'
res = []
for (dir_path, dir_names, file_names) in walk(dir_path):
    # print(f'Adding these files: {file_names}')
    res.extend(file_names)
    # don't look inside any subdirectory
    break
print(res)

['reviews (1).csv', 'reviews (10).csv', 'reviews (11).csv', 'reviews (12).csv', 'reviews (13).csv', 'reviews (14).csv', 'reviews (15).csv', 'reviews (16).csv', 'reviews (17).csv', 'reviews (18).csv', 'reviews (19).csv', 'reviews (20).csv', 'reviews (21).csv', 'reviews (22).csv', 'reviews (23).csv', 'reviews (24).csv', 'reviews (3).csv', 'reviews (30).csv', 'reviews (31).csv', 'reviews (32).csv', 'reviews (33).csv', 'reviews (34).csv', 'reviews (35).csv', 'reviews (36).csv', 'reviews (37).csv', 'reviews (38).csv', 'reviews (39).csv', 'reviews (4).csv', 'reviews (40).csv', 'reviews (41).csv', 'reviews (42).csv', 'reviews (43).csv', 'reviews (44).csv', 'reviews (45).csv', 'reviews (46).csv', 'reviews (47).csv', 'reviews (49).csv', 'reviews (5).csv', 'reviews (50).csv', 'reviews (51).csv', 'reviews (52).csv', 'reviews (53).csv', 'reviews (54).csv', 'reviews (55).csv', 'reviews (56).csv', 'reviews (57).csv', 'reviews (58).csv', 'reviews (59).csv', 'reviews (6).csv', 'reviews (60).csv', 'reviews (61).csv', 'reviews (7).csv', 'reviews (8).csv', 'reviews (9).csv', 'reviews st.csv', 'reviews.csv', 'reviews2.csv', 'reviews3.csv']

In [3]:
# list of the files to keep
keep = []

for name in res:
    if 'review' in name:
        keep.append(name)
print(keep)

['reviews (1).csv', 'reviews (10).csv', 'reviews (11).csv', 'reviews (12).csv', 'reviews (13).csv', 'reviews (14).csv', 'reviews (15).csv', 'reviews (16).csv', 'reviews (17).csv', 'reviews (18).csv', 'reviews (19).csv', 'reviews (20).csv', 'reviews (21).csv', 'reviews (22).csv', 'reviews (23).csv', 'reviews (24).csv', 'reviews (3).csv', 'reviews (30).csv', 'reviews (31).csv', 'reviews (32).csv', 'reviews (33).csv', 'reviews (34).csv', 'reviews (35).csv', 'reviews (36).csv', 'reviews (37).csv', 'reviews (38).csv', 'reviews (39).csv', 'reviews (4).csv', 'reviews (40).csv', 'reviews (41).csv', 'reviews (42).csv', 'reviews (43).csv', 'reviews (44).csv', 'reviews (45).csv', 'reviews (46).csv', 'reviews (47).csv', 'reviews (49).csv', 'reviews (5).csv', 'reviews (50).csv', 'reviews (51).csv', 'reviews (52).csv', 'reviews (53).csv', 'reviews (54).csv', 'reviews (55).csv', 'reviews (56).csv', 'reviews (57).csv', 'reviews (58).csv', 'reviews (59).csv', 'reviews (6).csv', 'reviews (60).csv', 'reviews (61).csv', 'reviews (7).csv', 'reviews (8).csv', 'reviews (9).csv', 'reviews st.csv', 'reviews.csv', 'reviews2.csv', 'reviews3.csv']

In [4]:
# Confirms the list of files to pull data from
work_on = []
with open('list.csv', 'r') as csvfile:
    info = csvfile.read()
    for line in keep:
        if line in info:
            continue
        else:
            print(f'Pulling data from {line}')
            work_on.append(line)
    csvfile.close()

Pulling data from reviews (1).csv
Pulling data from reviews (10).csv
Pulling data from reviews (11).csv
Pulling data from reviews (12).csv
Pulling data from reviews (13).csv
Pulling data from reviews (14).csv
Pulling data from reviews (15).csv
Pulling data from reviews (16).csv
Pulling data from reviews (17).csv
Pulling data from reviews (18).csv
Pulling data from reviews (19).csv
Pulling data from reviews (20).csv
Pulling data from reviews (21).csv
Pulling data from reviews (22).csv
Pulling data from reviews (23).csv
Pulling data from reviews (24).csv
Pulling data from reviews (3).csv
Pulling data from reviews (30).csv
Pulling data from reviews (31).csv
Pulling data from reviews (32).csv
Pulling data from reviews (33).csv
Pulling data from reviews (34).csv
Pulling data from reviews (35).csv
Pulling data from reviews (36).csv
Pulling data from reviews (37).csv
Pulling data from reviews (38).csv
Pulling data from reviews (39).csv
Pulling data from reviews (4).csv
Pulling data from reviews (40).csv
Pulling data from reviews (41).csv
Pulling data from reviews (42).csv
Pulling data from reviews (43).csv
Pulling data from reviews (44).csv
Pulling data from reviews (45).csv
Pulling data from reviews (46).csv
Pulling data from reviews (47).csv
Pulling data from reviews (49).csv
Pulling data from reviews (5).csv
Pulling data from reviews (50).csv
Pulling data from reviews (51).csv
Pulling data from reviews (52).csv
Pulling data from reviews (53).csv
Pulling data from reviews (54).csv
Pulling data from reviews (55).csv
Pulling data from reviews (56).csv
Pulling data from reviews (57).csv
Pulling data from reviews (58).csv
Pulling data from reviews (59).csv
Pulling data from reviews (6).csv
Pulling data from reviews (60).csv
Pulling data from reviews (61).csv
Pulling data from reviews (7).csv
Pulling data from reviews (8).csv
Pulling data from reviews (9).csv
Pulling data from reviews st.csv
Pulling data from reviews.csv
Pulling data from reviews2.csv
Pulling data from reviews3.csv

In [5]:
# !pip install --upgrade pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\user\appdata\roaming\python\python39\site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.20.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\roaming\python\python39\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
li = []
with open('list.csv', 'a+', encoding='utf-8') as csvfile:
    list_writer = csv.writer(csvfile)
    dic = {}
    length = len(work_on)
    print(length)
    while length >= 1:
        for name in work_on:
            print(f'{name} is being read ..............')
            df = pd.read_csv(f'reviews/{name}', index_col=None, on_bad_lines='skip',header=None)
            li.append(df)
            dic['name'] = name
            list_writer.writerow(dic.values())
            length -= 1
        final_frame = pd.concat(li, axis=0, ignore_index=True)
        print('Gone through entire list')

58
reviews (1).csv is being read ..............
reviews (10).csv is being read ..............
reviews (11).csv is being read ..............
reviews (12).csv is being read ..............
reviews (13).csv is being read ..............
reviews (14).csv is being read ..............
reviews (15).csv is being read ..............
reviews (16).csv is being read ..............
reviews (17).csv is being read ..............
reviews (18).csv is being read ..............
reviews (19).csv is being read ..............
reviews (20).csv is being read ..............
reviews (21).csv is being read ..............
reviews (22).csv is being read ..............
reviews (23).csv is being read ..............
reviews (24).csv is being read ..............
reviews (3).csv is being read ..............
reviews (30).csv is being read ..............
reviews (31).csv is being read ..............
reviews (32).csv is being read ..............
reviews (33).csv is being read ..............
reviews (34).csv is being read ..............
reviews (35).csv is being read ..............
reviews (36).csv is being read ..............
reviews (37).csv is being read ..............
reviews (38).csv is being read ..............
reviews (39).csv is being read ..............
reviews (4).csv is being read ..............
reviews (40).csv is being read ..............
reviews (41).csv is being read ..............
reviews (42).csv is being read ..............
reviews (43).csv is being read ..............
reviews (44).csv is being read ..............
reviews (45).csv is being read ..............
reviews (46).csv is being read ..............
reviews (47).csv is being read ..............
reviews (49).csv is being read ..............
reviews (5).csv is being read ..............
reviews (50).csv is being read ..............
reviews (51).csv is being read ..............
reviews (52).csv is being read ..............
reviews (53).csv is being read ..............
reviews (54).csv is being read ..............
reviews (55).csv is being read ..............
reviews (56).csv is being read ..............
reviews (57).csv is being read ..............
reviews (58).csv is being read ..............
reviews (59).csv is being read ..............
reviews (6).csv is being read ..............
reviews (60).csv is being read ..............
reviews (61).csv is being read ..............
reviews (7).csv is being read ..............
reviews (8).csv is being read ..............
reviews (9).csv is being read ..............
reviews st.csv is being read ..............
reviews.csv is being read ..............
reviews2.csv is being read ..............
reviews3.csv is being read ..............
Gone through entire list

In [6]:
final_frame.head()

,0,1,2,3,4,5,6
0,Richard D.,/user_details?userid=pRfWy61wU9e1nrCVrOEWLA,"New York, NY",2/16/2023,4.0,No comment,https://www.yelp.com/biz/urbanspace-union-squa...
1,Elisa H.,/user_details?userid=ExhcUTTcj_MBhZdFQT9KYg,"Brooklyn, NY",1/6/2023,4.0,No comment,https://www.yelp.com/biz/urbanspace-union-squa...
2,Morlene C.,/user_details?userid=VLTBPUrbNRR-f84h-altQw,"Brooklyn, NY",12/15/2022,3.0,No comment,https://www.yelp.com/biz/urbanspace-union-squa...
3,Ruwan J.,/user_details?userid=xBVo8v0mw64nk6K-pYgI6A,"New York, NY",3/23/2023,4.0,Urbanspace Union Square is a newish addition-...,https://www.yelp.com/biz/urbanspace-union-squa...
4,Mike C.,/user_details?userid=37cpUoM8hlkSQfReIEBd-Q,"Forest Hills, NY",12/14/2022,5.0,No comment,https://www.yelp.com/biz/urbanspace-union-squa...

In [7]:
# remove duplicates
final_frame = final_frame.drop_duplicates()

# check duplicates
print(f'The num of duplicates are: {final_frame.duplicated().sum()} duplicates')

The num of duplicates are: 0 duplicates

In [8]:
# columns having null values
final_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109977 entries, 0 to 175339
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       109977 non-null  object
 1   1       109977 non-null  object
 2   2       109977 non-null  object
 3   3       109977 non-null  object
 4   4       109977 non-null  float64
 5   5       109977 non-null  object
 6   6       98961 non-null   object
dtypes: float64(1), object(6)
memory usage: 6.7+ MB

In [9]:
final_frame = final_frame.dropna(axis=0)
final_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98961 entries, 0 to 175339
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       98961 non-null  object
 1   1       98961 non-null  object
 2   2       98961 non-null  object
 3   3       98961 non-null  object
 4   4       98961 non-null  float64
 5   5       98961 non-null  object
 6   6       98961 non-null  object
dtypes: float64(1), object(6)
memory usage: 6.0+ MB

In [10]:
# check the percentage of restaurants done in the final csv

restaurants = pd.read_csv('restaurant_data.csv')

rest_df = restaurants.drop_duplicates(subset=['URL'])
rest_df.head()

,Name,Rating,Pricing,URL,Latitude,Longitude,Transactions,Location,Phone,Display Phone,Distance,Reviews,Review Count,Cuisine,Restaurant ID,Number of Reviews
0,Da Andrea,4,$$,https://www.yelp.com/biz/da-andrea-new-york?ad...,40.736218,-73.995970,"['delivery', 'pickup', 'restaurant_reservation']","35 W 13th St, New York, NY 10011",1.212367e+10,(212) 367-1979,3526.365252,[{'text': 'This small and crowded place seems ...,3,"I, t, a, l, i, a, n",hdiuRS9sVZSMReZm4oV5SA,1851
1,LoveMama,5,$$,https://www.yelp.com/biz/lovemama-new-york?adj...,40.730409,-73.986127,"['delivery', 'pickup', 'restaurant_reservation']","174 2nd Ave, New York, NY 10003",1.212255e+10,(212) 254-5370,2645.074283,[{'text': 'Absolutely LOVED LoveMama!! As a co...,3,"T, h, a, i",jjJc_CrkB2HodEinB6cWww,6377
2,Ye's Apothecary,5,$$$,https://www.yelp.com/biz/yes-apothecary-new-yo...,40.719450,-73.989800,[],"119 Orchard St, New York, NY 10002",NaN,NaN,1638.756115,[{'text': 'Edy and Josh are the BEST bartender...,3,"S, z, e, c, h, u, a, n",8YWLuLUKj0t_0_Xv06UUtw,212
3,Joe's Shanghai,4,$$,https://www.yelp.com/biz/joes-shanghai-new-yor...,40.715661,-73.996701,"['delivery', 'pickup']","46 Bowery St, New York, NY 10013",1.212234e+10,(212) 233-8888,1766.176007,[{'text': 'This is the third stop of our food ...,3,"S, h, a, n, g, h, a, i, n, e, s, e",0CjK3esfpFcxIopebzjFxA,7098
4,Antidote,4,$$,https://www.yelp.com/biz/antidote-brooklyn-2?a...,40.714253,-73.965448,"['delivery', 'pickup']","66 S 2nd St, Brooklyn, NY 11249",1.718782e+10,(718) 782-2585,1376.494330,[{'text': 'Excellent service & food! The drink...,3,"C, o, c, k, t, a, i, l, , B, a, r, s",4DInnPhOyvXFbYpUdO0SMQ,325

In [11]:
# get the set of available restaurants
got_rest = set(final_frame[6])

list_rest = set(rest_df['URL'])

In [12]:
# What restaurants do we have
missing_urls = []
for url in list_rest:
    if url in got_rest:
        num = len(final_frame[final_frame[6] == url])
        expected = rest_df[rest_df['URL'] == url]
        # print(expected['Number of Reviews'])
        eventual = float(num/expected['Number of Reviews']) *100
        if eventual >= 90.0:
            print(f"We have {expected['Name']} and have about ....... {eventual}% of expected collection")
            print('WITHIN COMPLETED EXPECTATION')
        else:
            print(f"We have {expected['Name']} and have about ....... {eventual}% of expected collection")
            print(f"{expected['Name']} NEEDS MORE COLLECTION PLEASE")
            missing_urls.append(url)
    else:
        expected = rest_df[rest_df['URL'] == url]
        num = 0
        eventual = (num/expected['Number of Reviews']) *100
        # print(f"We have {expected['Name']} and have about ....... {eventual}% of expected collection")
        # print(f"{expected['Name']} NEEDS MORE COLLECTION PLEASE")
        missing_urls.append(url)

        
print('Done with list of content')

We have 206    Deux Chats
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 404    La Pecora Bianca
Name: Name, dtype: object and have about ....... 102.020202020202% of expected collection
WITHIN COMPLETED EXPECTATION
We have 266    Cornbread Brooklyn
Name: Name, dtype: object and have about ....... 104.2654028436019% of expected collection
WITHIN COMPLETED EXPECTATION
We have 229    Jongro BBQ
Name: Name, dtype: object and have about ....... 19.551934826883908% of expected collection
229    Jongro BBQ
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 449    Leyla
Name: Name, dtype: object and have about ....... 100.4566210045662% of expected collection
WITHIN COMPLETED EXPECTATION
We have 146    Taiwan Pork Chop House
Name: Name, dtype: object and have about ....... 98.8391376451078% of expected collection
WITHIN COMPLETED EXPECTATION
We have 486    Chongkho Restaurant
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 169    Noods n’ Chill
Name: Name, dtype: object and have about ....... 85.60606060606061% of expected collection
169    Noods n’ Chill
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 153    The Greek
Name: Name, dtype: object and have about ....... 99.23664122137404% of expected collection
WITHIN COMPLETED EXPECTATION
We have 447    Tacoria
Name: Name, dtype: object and have about ....... 100.7380073800738% of expected collection
WITHIN COMPLETED EXPECTATION
We have 382    Fukurou Brooklyn
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 415    Cafe Katja
Name: Name, dtype: object and have about ....... 99.63898916967509% of expected collection
WITHIN COMPLETED EXPECTATION
We have 137    Petite Patate
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 245    Osamil
Name: Name, dtype: object and have about ....... 6.3897763578274756% of expected collection
245    Osamil
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 298    Ensenada
Name: Name, dtype: object and have about ....... 105.55555555555556% of expected collection
WITHIN COMPLETED EXPECTATION
We have 389    The HiHi Room
Name: Name, dtype: object and have about ....... 101.40845070422534% of expected collection
WITHIN COMPLETED EXPECTATION
We have 396    Popular
Name: Name, dtype: object and have about ....... 101.92307692307692% of expected collection
WITHIN COMPLETED EXPECTATION
We have 175    Mekong BK
Name: Name, dtype: object and have about ....... 99.00990099009901% of expected collection
WITHIN COMPLETED EXPECTATION
We have 241    H&H Reserve
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 64    Ingas Bar
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 204    WarrenPeace
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 384    Karasu
Name: Name, dtype: object and have about ....... 100.9009009009009% of expected collection
WITHIN COMPLETED EXPECTATION
We have 14    Wah Fung No 1
Name: Name, dtype: object and have about ....... 89.01154039136979% of expected collection
14    Wah Fung No 1
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 1    LoveMama
Name: Name, dtype: object and have about ....... 10.161517955151325% of expected collection
1    LoveMama
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 330    Izakaya
Name: Name, dtype: object and have about ....... 99.63898916967509% of expected collection
WITHIN COMPLETED EXPECTATION
We have 152    LĒNA
Name: Name, dtype: object and have about ....... 100.92592592592592% of expected collection
WITHIN COMPLETED EXPECTATION
We have 341    Verde on Smith
Name: Name, dtype: object and have about ....... 99.0487514863258% of expected collection
WITHIN COMPLETED EXPECTATION
We have 400    Go! Go! Curry!
Name: Name, dtype: object and have about ....... 15.136476426799009% of expected collection
400    Go! Go! Curry!
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 196    Kyuramen - Chinatown
Name: Name, dtype: object and have about ....... 102.08333333333333% of expected collection
WITHIN COMPLETED EXPECTATION
We have 53    Hakata Tonton
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 368    Fat Fowl
Name: Name, dtype: object and have about ....... 105.66037735849056% of expected collection
WITHIN COMPLETED EXPECTATION
We have 48    Mokyo
Name: Name, dtype: object and have about ....... 100.99667774086379% of expected collection
WITHIN COMPLETED EXPECTATION
We have 83    Ugly Baby
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 310    Yia Yia's Taverna
Name: Name, dtype: object and have about ....... 71.69811320754717% of expected collection
310    Yia Yia's Taverna
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 487    Oxalis
Name: Name, dtype: object and have about ....... 99.1304347826087% of expected collection
WITHIN COMPLETED EXPECTATION
We have 289    Aldama
Name: Name, dtype: object and have about ....... 95.71428571428572% of expected collection
WITHIN COMPLETED EXPECTATION
We have 124    Blue Willow 夜来湘
Name: Name, dtype: object and have about ....... 5.91016548463357% of expected collection
124    Blue Willow 夜来湘
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 70    The Smith
Name: Name, dtype: object and have about ....... 38.01948051948052% of expected collection
70    The Smith
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 492    San Marino Ristorante
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 67    Double Chicken Please
Name: Name, dtype: object and have about ....... 97.36842105263158% of expected collection
WITHIN COMPLETED EXPECTATION
We have 30    Aurora
Name: Name, dtype: object and have about ....... 79.84981226533166% of expected collection
30    Aurora
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 116    Panzón
Name: Name, dtype: object and have about ....... 133.33333333333331% of expected collection
WITHIN COMPLETED EXPECTATION
We have 4    Antidote
Name: Name, dtype: object and have about ....... 101.23076923076924% of expected collection
WITHIN COMPLETED EXPECTATION
We have 336    Butter Dose
Name: Name, dtype: object and have about ....... 108.88888888888889% of expected collection
WITHIN COMPLETED EXPECTATION
We have 421    Kuu Ramen
Name: Name, dtype: object and have about ....... 99.13793103448276% of expected collection
WITHIN COMPLETED EXPECTATION
We have 111    Place des Fêtes
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 149    Soco
Name: Name, dtype: object and have about ....... 100.17123287671232% of expected collection
WITHIN COMPLETED EXPECTATION
We have 305    Azule Cantina
Name: Name, dtype: object and have about ....... 94.44444444444444% of expected collection
WITHIN COMPLETED EXPECTATION
We have 242    Henry's End
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 490    Steak Frites Bistro
Name: Name, dtype: object and have about ....... 103.921568627451% of expected collection
WITHIN COMPLETED EXPECTATION
We have 248    Baba's Pierogies
Name: Name, dtype: object and have about ....... 97.62931034482759% of expected collection
WITHIN COMPLETED EXPECTATION
We have 267    Two Hands
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 268    Osteria Brooklyn
Name: Name, dtype: object and have about ....... 97.90575916230367% of expected collection
WITHIN COMPLETED EXPECTATION
We have 218    Arden
Name: Name, dtype: object and have about ....... 104.44444444444446% of expected collection
WITHIN COMPLETED EXPECTATION
We have 442    Wadadli Jerk
Name: Name, dtype: object and have about ....... 106.25% of expected collection
WITHIN COMPLETED EXPECTATION
We have 114    Sweetwater Restaurant
Name: Name, dtype: object and have about ....... 99.56236323851203% of expected collection
WITHIN COMPLETED EXPECTATION
We have 145    Dumpling N' Dips
Name: Name, dtype: object and have about ....... 100.8130081300813% of expected collection
WITHIN COMPLETED EXPECTATION
We have 46    Botte Brooklyn
Name: Name, dtype: object and have about ....... 101.88679245283019% of expected collection
WITHIN COMPLETED EXPECTATION
We have 8    The Cabin NYC
Name: Name, dtype: object and have about ....... 99.81515711645102% of expected collection
WITHIN COMPLETED EXPECTATION
We have 10    ARIARI
Name: Name, dtype: object and have about ....... 109.09090909090908% of expected collection
WITHIN COMPLETED EXPECTATION
We have 154    Cremini's - Aperitivo & Kitchen
Name: Name, dtype: object and have about ....... 101.72413793103448% of expected collection
WITHIN COMPLETED EXPECTATION
We have 381    Do Not Disturb
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 41    Sanmiwago
Name: Name, dtype: object and have about ....... 106.66666666666667% of expected collection
WITHIN COMPLETED EXPECTATION
We have 301    Miznon
Name: Name, dtype: object and have about ....... 93.51464435146444% of expected collection
WITHIN COMPLETED EXPECTATION
We have 47    Atti
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 498    Pier 66 Maritime
Name: Name, dtype: object and have about ....... 98.4126984126984% of expected collection
WITHIN COMPLETED EXPECTATION
We have 19    Bad Roman
Name: Name, dtype: object and have about ....... 101.69491525423729% of expected collection
WITHIN COMPLETED EXPECTATION
We have 325    Lupa
Name: Name, dtype: object and have about ....... 90.48171793383634% of expected collection
WITHIN COMPLETED EXPECTATION
We have 277    3 Times
Name: Name, dtype: object and have about ....... 99.06976744186046% of expected collection
WITHIN COMPLETED EXPECTATION
We have 461    Los Tacos No.1
Name: Name, dtype: object and have about ....... 97.2169988717563% of expected collection
WITHIN COMPLETED EXPECTATION
We have 25    Munchiez by Mei Lai Wah
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 3    Joe's Shanghai
Name: Name, dtype: object and have about ....... 92.8712313327698% of expected collection
WITHIN COMPLETED EXPECTATION
We have 151    Izakaya Juraku
Name: Name, dtype: object and have about ....... 90.0523560209424% of expected collection
WITHIN COMPLETED EXPECTATION
We have 164    Eyval
Name: Name, dtype: object and have about ....... 105.26315789473684% of expected collection
WITHIN COMPLETED EXPECTATION
We have 109    Olle
Name: Name, dtype: object and have about ....... 110.71428571428572% of expected collection
WITHIN COMPLETED EXPECTATION
We have 497    Luchadores
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 181    Rangoon - Brooklyn
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 225    Xu's Public House
Name: Name, dtype: object and have about ....... 99.28571428571429% of expected collection
WITHIN COMPLETED EXPECTATION

We have 393    Five Leaves
Name: Name, dtype: object and have about ....... 98.88888888888889% of expected collection
WITHIN COMPLETED EXPECTATION
We have 77    Pecking House
Name: Name, dtype: object and have about ....... 102.94117647058823% of expected collection
WITHIN COMPLETED EXPECTATION
We have 198    Miznon
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 189    Roberta's
Name: Name, dtype: object and have about ....... 14.092307692307692% of expected collection
189    Roberta's
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 75    Despaña Fine Foods & Tapas Cafe
Name: Name, dtype: object and have about ....... 99.49579831932773% of expected collection
WITHIN COMPLETED EXPECTATION
We have 210    Dim Sum Palace
Name: Name, dtype: object and have about ....... 99.16434540389972% of expected collection
WITHIN COMPLETED EXPECTATION
We have 87    Omusubi Gonbei
Name: Name, dtype: object and have about ....... 100.91743119266054% of expected collection
WITHIN COMPLETED EXPECTATION
We have 174    Katz's Delicatessen
Name: Name, dtype: object and have about ....... 15.449514038876892% of expected collection
174    Katz's Delicatessen
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 95    Cantina 33
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 20    Ichibantei
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 424    Canal Street Market
Name: Name, dtype: object and have about ....... 99.52830188679245% of expected collection
WITHIN COMPLETED EXPECTATION
We have 302    La Marchande
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 88    Las Santas
Name: Name, dtype: object and have about ....... 100.64724919093851% of expected collection
WITHIN COMPLETED EXPECTATION
We have 392    The Warren
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 262    Chino Grande
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 440    Bar Crudo
Name: Name, dtype: object and have about ....... 63.37448559670782% of expected collection
440    Bar Crudo
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 106    Da Claudio
Name: Name, dtype: object and have about ....... 99.510603588907% of expected collection
WITHIN COMPLETED EXPECTATION
We have 419    La Nonna Ristorante & Bar
Name: Name, dtype: object and have about ....... 100.2415458937198% of expected collection
WITHIN COMPLETED EXPECTATION
We have 275    Electric Lemon
Name: Name, dtype: object and have about ....... 100.3058103975535% of expected collection
WITHIN COMPLETED EXPECTATION
We have 6    Time Out Market New York
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 135    Good Thanks Cafe
Name: Name, dtype: object and have about ....... 83.79120879120879% of expected collection
135    Good Thanks Cafe
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 265    Aska
Name: Name, dtype: object and have about ....... 98.59154929577466% of expected collection
WITHIN COMPLETED EXPECTATION
We have 359    Somtum Der Redhook
Name: Name, dtype: object and have about ....... 101.3157894736842% of expected collection
WITHIN COMPLETED EXPECTATION
We have 35    Jack's Wife Freda
Name: Name, dtype: object and have about ....... 102.22222222222221% of expected collection
WITHIN COMPLETED EXPECTATION
We have 91    Soba-ya
Name: Name, dtype: object and have about ....... 99.87046632124353% of expected collection
WITHIN COMPLETED EXPECTATION
We have 230    Keg & Lantern Brewing Company
Name: Name, dtype: object and have about ....... 200.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 33    Piccola Cucina Osteria
Name: Name, dtype: object and have about ....... 99.21773142112124% of expected collection
WITHIN COMPLETED EXPECTATION
We have 178    DokoDemo
Name: Name, dtype: object and have about ....... 94.9868073878628% of expected collection
WITHIN COMPLETED EXPECTATION
We have 127    San Marzano Pasta Fresca
Name: Name, dtype: object and have about ....... 39.694148936170215% of expected collection
127    San Marzano Pasta Fresca
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 90    Monsieur Vo
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 158    Davelle
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 390    LaRina Pastificio & Vino
Name: Name, dtype: object and have about ....... 73.97260273972603% of expected collection
390    LaRina Pastificio & Vino
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 156    Steam - Shanghai Asian Fusion
Name: Name, dtype: object and have about ....... 98.78048780487805% of expected collection
WITHIN COMPLETED EXPECTATION
We have 147    Diner
Name: Name, dtype: object and have about ....... 95.80152671755725% of expected collection
WITHIN COMPLETED EXPECTATION
We have 129    Colonia Verde
Name: Name, dtype: object and have about ....... 17.316017316017316% of expected collection
129    Colonia Verde
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 335    no. 7
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 232    El Mate
Name: Name, dtype: object and have about ....... 99.43181818181817% of expected collection
WITHIN COMPLETED EXPECTATION
We have 399    THEP Thai Restaurant
Name: Name, dtype: object and have about ....... 100.3522504892368% of expected collection
WITHIN COMPLETED EXPECTATION
We have 285    Aita
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 448    Genesis House
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 157    Rice & Miso
Name: Name, dtype: object and have about ....... 99.01960784313727% of expected collection
WITHIN COMPLETED EXPECTATION
We have 161    Jajaja Mexicana
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 342    Suram NYC
Name: Name, dtype: object and have about ....... 118.75% of expected collection
WITHIN COMPLETED EXPECTATION
We have 317    Counter & Bodega
Name: Name, dtype: object and have about ....... 100.8097165991903% of expected collection
WITHIN COMPLETED EXPECTATION
We have 12    Crab House All You Can Eat Seafood
Name: Name, dtype: object and have about ....... 101.61507402422612% of expected collection
WITHIN COMPLETED EXPECTATION
We have 79    The Grotto
Name: Name, dtype: object and have about ....... 104.16666666666667% of expected collection
WITHIN COMPLETED EXPECTATION
We have 306    Fulgurances
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 42    Momofuku Ssam Bar
Name: Name, dtype: object and have about ....... 100.9009009009009% of expected collection
WITHIN COMPLETED EXPECTATION
We have 56    Nowon
Name: Name, dtype: object and have about ....... 101.20481927710843% of expected collection
WITHIN COMPLETED EXPECTATION
We have 282    Bites of Xi'an
Name: Name, dtype: object and have about ....... 98.5% of expected collection
WITHIN COMPLETED EXPECTATION
We have 309    Jacob's Pickles
Name: Name, dtype: object and have about ....... 68.80751533742331% of expected collection
309    Jacob's Pickles
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 65    Salt + Charcoal
Name: Name, dtype: object and have about ....... 99.71671388101983% of expected collection
WITHIN COMPLETED EXPECTATION
We have 450    Bar Mario
Name: Name, dtype: object and have about ....... 140.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 200    Awesum Dimsum
Name: Name, dtype: object and have about ....... 97.13804713804713% of expected collection
WITHIN COMPLETED EXPECTATION
We have 329    Maman
Name: Name, dtype: object and have about ....... 99.72826086956522% of expected collection
WITHIN COMPLETED EXPECTATION
We have 423    Xixa
Name: Name, dtype: object and have about ....... 98.20359281437125% of expected collection
WITHIN COMPLETED EXPECTATION

We have 32    Wenwen
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 373    Monarch Restaurant
Name: Name, dtype: object and have about ....... 99.12280701754386% of expected collection
WITHIN COMPLETED EXPECTATION
We have 166    Locanda Verde
Name: Name, dtype: object and have about ....... 99.55995599559955% of expected collection
WITHIN COMPLETED EXPECTATION
We have 220    Paisley
Name: Name, dtype: object and have about ....... 98.9247311827957% of expected collection
WITHIN COMPLETED EXPECTATION
We have 133    Pommes Frites
Name: Name, dtype: object and have about ....... 52.994555353901994% of expected collection
133    Pommes Frites
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 402    Purepecha
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 177    Bonnie's
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 436    Zest Ramen
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 408    Sweet Talk
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 209    Los Tacos No. 1
Name: Name, dtype: object and have about ....... 65.95174262734585% of expected collection
209    Los Tacos No. 1
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 34    Tin Building by Jean-Georges
Name: Name, dtype: object and have about ....... 82.17821782178217% of expected collection
34    Tin Building by Jean-Georges
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 343    Katsu-Hama
Name: Name, dtype: object and have about ....... 98.91165172855314% of expected collection
WITHIN COMPLETED EXPECTATION
We have 0    Da Andrea
Name: Name, dtype: object and have about ....... 92.32847109670448% of expected collection
WITHIN COMPLETED EXPECTATION
We have 488    Little Mad
Name: Name, dtype: object and have about ....... 99.3975903614458% of expected collection
WITHIN COMPLETED EXPECTATION
We have 371    Clinton Hall - FiDi
Name: Name, dtype: object and have about ....... 99.86807387862797% of expected collection
WITHIN COMPLETED EXPECTATION
We have 439    Yin Ji Chang Fen Rice Roll
Name: Name, dtype: object and have about ....... 98.97172236503856% of expected collection
WITHIN COMPLETED EXPECTATION
We have 113    El Pingüino
Name: Name, dtype: object and have about ....... 109.09090909090908% of expected collection
WITHIN COMPLETED EXPECTATION
We have 23    Bolivian Llama Party
Name: Name, dtype: object and have about ....... 101.80722891566265% of expected collection
WITHIN COMPLETED EXPECTATION
We have 280    French Louie
Name: Name, dtype: object and have about ....... 99.56331877729258% of expected collection
WITHIN COMPLETED EXPECTATION
We have 308    Bar Camillo
Name: Name, dtype: object and have about ....... 78.72340425531915% of expected collection
308    Bar Camillo
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 395    P.J. Clarke's
Name: Name, dtype: object and have about ....... 94.47761194029852% of expected collection
WITHIN COMPLETED EXPECTATION
We have 211    Aragvi
Name: Name, dtype: object and have about ....... 107.6923076923077% of expected collection
WITHIN COMPLETED EXPECTATION
We have 433    Los Tacos No.1
Name: Name, dtype: object and have about ....... 72.81553398058253% of expected collection
433    Los Tacos No.1
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 376    Fine & Rare
Name: Name, dtype: object and have about ....... 100.4040404040404% of expected collection
WITHIN COMPLETED EXPECTATION
We have 97    nonono
Name: Name, dtype: object and have about ....... 99.1906474820144% of expected collection
WITHIN COMPLETED EXPECTATION
We have 27    Salma
Name: Name, dtype: object and have about ....... 71.52317880794702% of expected collection
27    Salma
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 349    Cafe Volkan
Name: Name, dtype: object and have about ....... 102.27272727272727% of expected collection
WITHIN COMPLETED EXPECTATION
We have 334    Chinah
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 489    Dim Sum Palace
Name: Name, dtype: object and have about ....... 111.11111111111111% of expected collection
WITHIN COMPLETED EXPECTATION
We have 69    White Oak Tavern
Name: Name, dtype: object and have about ....... 100.2309468822171% of expected collection
WITHIN COMPLETED EXPECTATION
We have 182    Cool World
Name: Name, dtype: object and have about ....... 111.11111111111111% of expected collection
WITHIN COMPLETED EXPECTATION
We have 370    7th Street Burger
Name: Name, dtype: object and have about ....... 104.54545454545455% of expected collection
WITHIN COMPLETED EXPECTATION
We have 184    Koloman
Name: Name, dtype: object and have about ....... 107.6923076923077% of expected collection
WITHIN COMPLETED EXPECTATION
We have 386    Saraghina Caffè
Name: Name, dtype: object and have about ....... 102.04081632653062% of expected collection
WITHIN COMPLETED EXPECTATION
We have 179    Gugu Room
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 126    Le Petit Monstre
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 134    Fishmarket II
Name: Name, dtype: object and have about ....... 103.7037037037037% of expected collection
WITHIN COMPLETED EXPECTATION
We have 299    Gage and Tollner
Name: Name, dtype: object and have about ....... 95.80838323353294% of expected collection
WITHIN COMPLETED EXPECTATION
We have 428    Black Walnut
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 120    Coppelia
Name: Name, dtype: object and have about ....... 97.82465392221489% of expected collection
WITHIN COMPLETED EXPECTATION
We have 118    The Frenchman's Dough
Name: Name, dtype: object and have about ....... 105.55555555555556% of expected collection
WITHIN COMPLETED EXPECTATION
We have 493    Naked Tomato
Name: Name, dtype: object and have about ....... 104.8780487804878% of expected collection
WITHIN COMPLETED EXPECTATION
We have 138    Bacàn
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 139    DunHuang Miss Noodles
Name: Name, dtype: object and have about ....... 97.6470588235294% of expected collection
WITHIN COMPLETED EXPECTATION
We have 203    Prime Meat Rokko
Name: Name, dtype: object and have about ....... 98.65470852017937% of expected collection
WITHIN COMPLETED EXPECTATION
We have 197    Boots & Bones
Name: Name, dtype: object and have about ....... 160.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 7    Benemon
Name: Name, dtype: object and have about ....... 99.71387696709584% of expected collection
WITHIN COMPLETED EXPECTATION
We have 494    Bowery Road
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 216    Peter Luger
Name: Name, dtype: object and have about ....... 68.97165751595192% of expected collection
216    Peter Luger
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 115    Excuse My French
Name: Name, dtype: object and have about ....... 91.21813031161473% of expected collection
WITHIN COMPLETED EXPECTATION
We have 119    Les Enfants de Boheme
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 394    Tuk Tuk
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 60    Sagaponack
Name: Name, dtype: object and have about ....... 100.85470085470085% of expected collection
WITHIN COMPLETED EXPECTATION
We have 235    Dinner Party
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 331    Maru 2
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 57    CasaTulum
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 5    Raku
Name: Name, dtype: object and have about ....... 99.33199732798931% of expected collection
WITHIN COMPLETED EXPECTATION
We have 195    Casino
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 281    Take31
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 495    ABC Kitchen
Name: Name, dtype: object and have about ....... 99.68404423380727% of expected collection
WITHIN COMPLETED EXPECTATION
We have 208    Luke's Lobster Brooklyn Bridge Park
Name: Name, dtype: object and have about ....... 0.5115089514066496% of expected collection
208    Luke's Lobster Brooklyn Bridge Park
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 187    Chef Huang Jian Bing & Peking Duck
Name: Name, dtype: object and have about ....... 98.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 168    Vineapple Cafe
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 51    Clover Hill
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 128    Tokuyamatcha & Onigirazu Bar

Name: Name, dtype: object and have about ....... 98.64864864864865% of expected collection
WITHIN COMPLETED EXPECTATION
We have 144    Banter
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 186    MayRee
Name: Name, dtype: object and have about ....... 96.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 239    Macao Trading Company
Name: Name, dtype: object and have about ....... 100.23696682464455% of expected collection
WITHIN COMPLETED EXPECTATION
We have 68    LumLum
Name: Name, dtype: object and have about ....... 101.64609053497942% of expected collection
WITHIN COMPLETED EXPECTATION
We have 72    Xolo
Name: Name, dtype: object and have about ....... 104.54545454545455% of expected collection
WITHIN COMPLETED EXPECTATION
We have 332    Medusa The Greek
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 403    Sushi Gallery
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 263    Amici Ristorante
Name: Name, dtype: object and have about ....... 101.11111111111111% of expected collection
WITHIN COMPLETED EXPECTATION
We have 237    Dim Sum Palace
Name: Name, dtype: object and have about ....... 100.06064281382656% of expected collection
WITHIN COMPLETED EXPECTATION
We have 192    Kiki's
Name: Name, dtype: object and have about ....... 99.74779319041615% of expected collection
WITHIN COMPLETED EXPECTATION
We have 269    shabushabu Mayumon
Name: Name, dtype: object and have about ....... 95.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 28    Kalye
Name: Name, dtype: object and have about ....... 117.64705882352942% of expected collection
WITHIN COMPLETED EXPECTATION
We have 468    Ai Ki Ya
Name: Name, dtype: object and have about ....... 97.74436090225564% of expected collection
WITHIN COMPLETED EXPECTATION
We have 172    Silky Kitchen
Name: Name, dtype: object and have about ....... 99.64539007092199% of expected collection
WITHIN COMPLETED EXPECTATION
We have 121    Okonomi
Name: Name, dtype: object and have about ....... 99.41176470588235% of expected collection
WITHIN COMPLETED EXPECTATION
We have 434    Boulton & Watt
Name: Name, dtype: object and have about ....... 99.86072423398329% of expected collection
WITHIN COMPLETED EXPECTATION
We have 194    Citizens Of Gramercy
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 319    Peaches HotHouse
Name: Name, dtype: object and have about ....... 100.0709723207949% of expected collection
WITHIN COMPLETED EXPECTATION
We have 193    Honest
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 73    Oxomoco
Name: Name, dtype: object and have about ....... 41.889483065953655% of expected collection
73    Oxomoco
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 276    Manousheh - Bleecker
Name: Name, dtype: object and have about ....... 99.40828402366864% of expected collection
WITHIN COMPLETED EXPECTATION
We have 143    Glin Thai Bistro
Name: Name, dtype: object and have about ....... 96.61016949152543% of expected collection
WITHIN COMPLETED EXPECTATION
We have 446    Pierre Loti Mediterranean Kitchen& Bar
Name: Name, dtype: object and have about ....... 200.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 188    Tonchin
Name: Name, dtype: object and have about ....... 108.69565217391303% of expected collection
WITHIN COMPLETED EXPECTATION
We have 300    Ho Foods
Name: Name, dtype: object and have about ....... 99.75124378109453% of expected collection
WITHIN COMPLETED EXPECTATION
We have 163    Vanessa's Dumpling House
Name: Name, dtype: object and have about ....... 99.60992907801418% of expected collection
WITHIN COMPLETED EXPECTATION
We have 383    Tipsy Shanghai
Name: Name, dtype: object and have about ....... 96.65738161559888% of expected collection
WITHIN COMPLETED EXPECTATION
We have 387    Elder Greene
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 294    Cookshop
Name: Name, dtype: object and have about ....... 99.65019676432007% of expected collection
WITHIN COMPLETED EXPECTATION
We have 274    Urbanspace Union Square
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 31    Tasty Hand-Pulled Noodles
Name: Name, dtype: object and have about ....... 25.700164744645797% of expected collection
31    Tasty Hand-Pulled Noodles
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
Done with list of content

In [13]:
len(missing_urls)

233

In [14]:
with open('final_revs.csv', 'a+', encoding='utf-8') as csvfile:
        review_writer = csv.writer(csvfile)
        for index, row in final_frame.iterrows():
            dic = {}
        
            # Assign the user values to the dictionary
            dic['username'] = row[0]
            dic['account'] = row[1]
            dic['location'] = row[2]
            dic['date'] = row[3]
            dic['rating'] = row[4]
            dic['comments'] = row[5]
            dic['restaurant'] = row[6]

            # write this info to the local csv
            review_writer.writerow(dic.values())
print('Done')

Done

In [15]:
try:
    missing_url_df = pd.read_csv('missing_urls.csv', header=None)
except pd.errors.EmptyDataError:
    found_missing_urls = list(['File is empty'])
else:
    found_missing_urls = list(missing_url_df)


found_missing_urls

[0]

In [16]:
# Dealing with missing urls
with open('missing_urls.csv', 'w+', encoding='utf-8') as csvfile:
        review_writer = csv.writer(csvfile)
        for url in missing_urls:
            dic = {}
            # print(url)
        
            if url in found_missing_urls:
                continue
            else:
                # Assign the user values to the dictionary
                dic['url'] = url

                # write this info to the local csv
                review_writer.writerow(dic.values())
print('Done')

Done