In [1]:
from bs4 import BeautifulSoup
import requests
import time
import random
import re
import csv
import pandas as pd

In [2]:
from os import walk

# folder path
dir_path = r'reviews'
res = []
for (dir_path, dir_names, file_names) in walk(dir_path):
    # print(f'Adding these files: {file_names}')
    res.extend(file_names)
    # don't look inside any subdirectory
    break
print(res)

['reviews (1).csv', 'reviews (10).csv', 'reviews (11).csv', 'reviews (12).csv', 'reviews (13).csv', 'reviews (14).csv', 'reviews (15).csv', 'reviews (16).csv', 'reviews (17).csv', 'reviews (18).csv', 'reviews (19).csv', 'reviews (20).csv', 'reviews (21).csv', 'reviews (22).csv', 'reviews (23).csv', 'reviews (24).csv', 'reviews (3).csv', 'reviews (30).csv', 'reviews (31).csv', 'reviews (32).csv', 'reviews (33).csv', 'reviews (34).csv', 'reviews (35).csv', 'reviews (36).csv', 'reviews (37).csv', 'reviews (4).csv', 'reviews (5).csv', 'reviews (6).csv', 'reviews (7).csv', 'reviews (8).csv', 'reviews (9).csv', 'reviews st.csv', 'reviews.csv', 'reviews2.csv', 'reviews3.csv']

In [3]:
# list of the files to keep
keep = []

for name in res:
    if 'review' in name:
        keep.append(name)
print(keep)

['reviews (1).csv', 'reviews (10).csv', 'reviews (11).csv', 'reviews (12).csv', 'reviews (13).csv', 'reviews (14).csv', 'reviews (15).csv', 'reviews (16).csv', 'reviews (17).csv', 'reviews (18).csv', 'reviews (19).csv', 'reviews (20).csv', 'reviews (21).csv', 'reviews (22).csv', 'reviews (23).csv', 'reviews (24).csv', 'reviews (3).csv', 'reviews (30).csv', 'reviews (31).csv', 'reviews (32).csv', 'reviews (33).csv', 'reviews (34).csv', 'reviews (35).csv', 'reviews (36).csv', 'reviews (37).csv', 'reviews (4).csv', 'reviews (5).csv', 'reviews (6).csv', 'reviews (7).csv', 'reviews (8).csv', 'reviews (9).csv', 'reviews st.csv', 'reviews.csv', 'reviews2.csv', 'reviews3.csv']

In [4]:
# Confirms the list of files to pull data from
work_on = []
with open('list.csv', 'r') as csvfile:
    info = csvfile.read()
    for line in keep:
        if line in info:
            continue
        else:
            print(f'Pulling data from {line}')
            work_on.append(line)
    csvfile.close()

Pulling data from reviews (24).csv
Pulling data from reviews (30).csv
Pulling data from reviews (31).csv
Pulling data from reviews (32).csv
Pulling data from reviews (33).csv
Pulling data from reviews (34).csv
Pulling data from reviews (35).csv
Pulling data from reviews (36).csv
Pulling data from reviews (37).csv

In [5]:
# !pip install --upgrade pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\user\appdata\roaming\python\python39\site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.20.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\roaming\python\python39\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
li = []
with open('list.csv', 'a+', encoding='utf-8') as csvfile:
    list_writer = csv.writer(csvfile)
    dic = {}
    length = len(work_on)
    print(length)
    while length >= 1:
        for name in work_on:
            print(f'{name} is being read ..............')
            df = pd.read_csv(f'reviews/{name}', index_col=None, on_bad_lines='skip',header=None)
            li.append(df)
            dic['name'] = name
            list_writer.writerow(dic.values())
            length -= 1
        final_frame = pd.concat(li, axis=0, ignore_index=True)
        print('Gone through entire list')

9
reviews (24).csv is being read ..............
reviews (30).csv is being read ..............
reviews (31).csv is being read ..............
reviews (32).csv is being read ..............
reviews (33).csv is being read ..............
reviews (34).csv is being read ..............
reviews (35).csv is being read ..............
reviews (36).csv is being read ..............
reviews (37).csv is being read ..............
Gone through entire list

In [7]:
final_frame.head()

,0,1,2,3,4,5,6
0,Michael K.,/user_details?userid=YIF41kppR2RaV0Yc5SBe6g,"Queens Village, New York, NY",3/6/2023,5.0,No comment,https://www.yelp.com/biz/arden-brooklyn?adjust...
1,Thomas F.,/user_details?userid=1TiHrRt2_x-poldKPk0pYg,"New York, NY",3/15/2023,5.0,I came in with some friends randomly and loved...,https://www.yelp.com/biz/arden-brooklyn?adjust...
2,Ginny K.,/user_details?userid=_DyFaIlJghLnuL-w4kfD-Q,"Boston, MA",3/25/2023,5.0,"Great food! Got the eggs in purgatory, which w...",https://www.yelp.com/biz/arden-brooklyn?adjust...
3,Michelle W.,/user_details?userid=G-X1AJpYR_52LjObWJINEQ,"Brooklyn, NY",1/17/2023,5.0,No comment,https://www.yelp.com/biz/arden-brooklyn?adjust...
4,Elisa H.,/user_details?userid=ExhcUTTcj_MBhZdFQT9KYg,"Brooklyn, NY",1/15/2023,3.0,No comment,https://www.yelp.com/biz/arden-brooklyn?adjust...

In [8]:
# remove duplicates
final_frame = final_frame.drop_duplicates()

# check duplicates
print(f'The num of duplicates are: {final_frame.duplicated().sum()} duplicates')

The num of duplicates are: 0 duplicates

In [9]:
# columns having null values
final_frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20720 entries, 0 to 29774
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20720 non-null  object
 1   1       20720 non-null  object
 2   2       20720 non-null  object
 3   3       20720 non-null  object
 4   4       20720 non-null  float64
 5   5       20720 non-null  object
 6   6       20719 non-null  object
dtypes: float64(1), object(6)
memory usage: 1.3+ MB

In [10]:
final_frame = final_frame.dropna(axis=0)
final_frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20719 entries, 0 to 29773
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20719 non-null  object
 1   1       20719 non-null  object
 2   2       20719 non-null  object
 3   3       20719 non-null  object
 4   4       20719 non-null  float64
 5   5       20719 non-null  object
 6   6       20719 non-null  object
dtypes: float64(1), object(6)
memory usage: 1.3+ MB

In [11]:
# check the percentage of restaurants done in the final csv

restaurants = pd.read_csv('restaurant_data.csv')

rest_df = restaurants.drop_duplicates(subset=['URL'])
rest_df.head()

,Name,Rating,Pricing,URL,Latitude,Longitude,Transactions,Location,Phone,Display Phone,Distance,Reviews,Review Count,Cuisine,Restaurant ID,Number of Reviews
0,Da Andrea,4,$$,https://www.yelp.com/biz/da-andrea-new-york?ad...,40.736218,-73.995970,"['delivery', 'pickup', 'restaurant_reservation']","35 W 13th St, New York, NY 10011",1.212367e+10,(212) 367-1979,3526.365252,[{'text': 'This small and crowded place seems ...,3,"I, t, a, l, i, a, n",hdiuRS9sVZSMReZm4oV5SA,1851
1,LoveMama,5,$$,https://www.yelp.com/biz/lovemama-new-york?adj...,40.730409,-73.986127,"['delivery', 'pickup', 'restaurant_reservation']","174 2nd Ave, New York, NY 10003",1.212255e+10,(212) 254-5370,2645.074283,[{'text': 'Absolutely LOVED LoveMama!! As a co...,3,"T, h, a, i",jjJc_CrkB2HodEinB6cWww,6377
2,Ye's Apothecary,5,$$$,https://www.yelp.com/biz/yes-apothecary-new-yo...,40.719450,-73.989800,[],"119 Orchard St, New York, NY 10002",NaN,NaN,1638.756115,[{'text': 'Edy and Josh are the BEST bartender...,3,"S, z, e, c, h, u, a, n",8YWLuLUKj0t_0_Xv06UUtw,212
3,Joe's Shanghai,4,$$,https://www.yelp.com/biz/joes-shanghai-new-yor...,40.715661,-73.996701,"['delivery', 'pickup']","46 Bowery St, New York, NY 10013",1.212234e+10,(212) 233-8888,1766.176007,[{'text': 'This is the third stop of our food ...,3,"S, h, a, n, g, h, a, i, n, e, s, e",0CjK3esfpFcxIopebzjFxA,7098
4,Antidote,4,$$,https://www.yelp.com/biz/antidote-brooklyn-2?a...,40.714253,-73.965448,"['delivery', 'pickup']","66 S 2nd St, Brooklyn, NY 11249",1.718782e+10,(718) 782-2585,1376.494330,[{'text': 'Excellent service & food! The drink...,3,"C, o, c, k, t, a, i, l, , B, a, r, s",4DInnPhOyvXFbYpUdO0SMQ,325

In [12]:
# get the set of available restaurants
got_rest = set(final_frame[6])

list_rest = set(rest_df['URL'])

In [13]:
# What restaurants do we have
missing_urls = []
for url in list_rest:
    if url in got_rest:
        num = len(final_frame[final_frame[6] == url])
        expected = rest_df[rest_df['URL'] == url]
        # print(expected['Number of Reviews'])
        eventual = float(num/expected['Number of Reviews']) *100
        if eventual >= 90.0:
            print(f"We have {expected['Name']} and have about ....... {eventual}% of expected collection")
            print('WITHIN COMPLETED EXPECTATION')
        else:
            print(f"We have {expected['Name']} and have about ....... {eventual}% of expected collection")
            print(f"{expected['Name']} NEEDS MORE COLLECTION PLEASE")
            missing_urls.append(url)
    else:
        expected = rest_df[rest_df['URL'] == url]
        num = 0
        eventual = (num/expected['Number of Reviews']) *100
        # print(f"We have {expected['Name']} and have about ....... {eventual}% of expected collection")
        # print(f"{expected['Name']} NEEDS MORE COLLECTION PLEASE")
        missing_urls.append(url)

        
print('Done with list of content')

C:\Users\User\AppData\Local\Temp\ipykernel_11180\41464092.py:8: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  eventual = float(num/expected['Number of Reviews']) *100

We have 209    Los Tacos No. 1
Name: Name, dtype: object and have about ....... 65.68364611260054% of expected collection
209    Los Tacos No. 1
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 126    Le Petit Monstre
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 235    Dinner Party
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 203    Prime Meat Rokko
Name: Name, dtype: object and have about ....... 97.30941704035875% of expected collection
WITHIN COMPLETED EXPECTATION
We have 218    Arden
Name: Name, dtype: object and have about ....... 104.44444444444446% of expected collection
WITHIN COMPLETED EXPECTATION
We have 197    Boots & Bones
Name: Name, dtype: object and have about ....... 160.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 158    Davelle
Name: Name, dtype: object and have about ....... 98.9010989010989% of expected collection
WITHIN COMPLETED EXPECTATION
We have 147    Diner
Name: Name, dtype: object and have about ....... 95.80152671755725% of expected collection
WITHIN COMPLETED EXPECTATION
We have 10    ARIARI
Name: Name, dtype: object and have about ....... 102.27272727272727% of expected collection
WITHIN COMPLETED EXPECTATION
We have 306    Fulgurances
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 285    Aita
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 265    Aska
Name: Name, dtype: object and have about ....... 98.59154929577466% of expected collection
WITHIN COMPLETED EXPECTATION
We have 408    Sweet Talk
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 289    Aldama
Name: Name, dtype: object and have about ....... 95.71428571428572% of expected collection
WITHIN COMPLETED EXPECTATION
We have 75    Despaña Fine Foods & Tapas Cafe
Name: Name, dtype: object and have about ....... 99.49579831932773% of expected collection
WITHIN COMPLETED EXPECTATION
We have 421    Kuu Ramen
Name: Name, dtype: object and have about ....... 99.13793103448276% of expected collection
WITHIN COMPLETED EXPECTATION
We have 47    Atti
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 90    Monsieur Vo
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 386    Saraghina Caffè
Name: Name, dtype: object and have about ....... 102.04081632653062% of expected collection
WITHIN COMPLETED EXPECTATION
We have 248    Baba's Pierogies
Name: Name, dtype: object and have about ....... 97.62931034482759% of expected collection
WITHIN COMPLETED EXPECTATION
We have 490    Steak Frites Bistro
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 97    nonono
Name: Name, dtype: object and have about ....... 99.1906474820144% of expected collection
WITHIN COMPLETED EXPECTATION
We have 118    The Frenchman's Dough
Name: Name, dtype: object and have about ....... 105.55555555555556% of expected collection
WITHIN COMPLETED EXPECTATION
We have 30    Aurora
Name: Name, dtype: object and have about ....... 79.72465581977471% of expected collection
30    Aurora
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 70    The Smith
Name: Name, dtype: object and have about ....... 38.01948051948052% of expected collection
70    The Smith
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 305    Azule Cantina
Name: Name, dtype: object and have about ....... 94.44444444444444% of expected collection
WITHIN COMPLETED EXPECTATION
We have 298    Ensenada
Name: Name, dtype: object and have about ....... 105.55555555555556% of expected collection
WITHIN COMPLETED EXPECTATION
We have 424    Canal Street Market
Name: Name, dtype: object and have about ....... 99.52830188679245% of expected collection
WITHIN COMPLETED EXPECTATION
We have 139    DunHuang Miss Noodles
Name: Name, dtype: object and have about ....... 97.6470588235294% of expected collection
WITHIN COMPLETED EXPECTATION
We have 294    Cookshop
Name: Name, dtype: object and have about ....... 99.65019676432007% of expected collection
WITHIN COMPLETED EXPECTATION
We have 192    Kiki's
Name: Name, dtype: object and have about ....... 99.74779319041615% of expected collection
WITHIN COMPLETED EXPECTATION
We have 269    shabushabu Mayumon
Name: Name, dtype: object and have about ....... 95.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 163    Vanessa's Dumpling House
Name: Name, dtype: object and have about ....... 99.60992907801418% of expected collection
WITHIN COMPLETED EXPECTATION
We have 399    THEP Thai Restaurant
Name: Name, dtype: object and have about ....... 97.80821917808218% of expected collection
WITHIN COMPLETED EXPECTATION
We have 280    French Louie
Name: Name, dtype: object and have about ....... 99.56331877729258% of expected collection
WITHIN COMPLETED EXPECTATION
We have 133    Pommes Frites
Name: Name, dtype: object and have about ....... 52.994555353901994% of expected collection
133    Pommes Frites
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 299    Gage and Tollner
Name: Name, dtype: object and have about ....... 95.80838323353294% of expected collection
WITHIN COMPLETED EXPECTATION
We have 200    Awesum Dimsum
Name: Name, dtype: object and have about ....... 97.13804713804713% of expected collection
WITHIN COMPLETED EXPECTATION
We have 400    Go! Go! Curry!
Name: Name, dtype: object and have about ....... 15.136476426799009% of expected collection
400    Go! Go! Curry!
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 67    Double Chicken Please
Name: Name, dtype: object and have about ....... 97.36842105263158% of expected collection
WITHIN COMPLETED EXPECTATION
We have 331    Maru 2
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 12    Crab House All You Can Eat Seafood
Name: Name, dtype: object and have about ....... 100.80753701211304% of expected collection
WITHIN COMPLETED EXPECTATION
We have 359    Somtum Der Redhook
Name: Name, dtype: object and have about ....... 101.3157894736842% of expected collection
WITHIN COMPLETED EXPECTATION
We have 20    Ichibantei
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 68    LumLum
Name: Name, dtype: object and have about ....... 101.64609053497942% of expected collection
WITHIN COMPLETED EXPECTATION
We have 330    Izakaya
Name: Name, dtype: object and have about ....... 99.63898916967509% of expected collection
WITHIN COMPLETED EXPECTATION
We have 4    Antidote
Name: Name, dtype: object and have about ....... 101.23076923076924% of expected collection
WITHIN COMPLETED EXPECTATION
Done with list of content

In [14]:
len(missing_urls)

393

In [15]:
with open('final_revs.csv', 'a+', encoding='utf-8') as csvfile:
        review_writer = csv.writer(csvfile)
        for index, row in final_frame.iterrows():
            dic = {}
        
            # Assign the user values to the dictionary
            dic['username'] = row[0]
            dic['account'] = row[1]
            dic['location'] = row[2]
            dic['date'] = row[3]
            dic['rating'] = row[4]
            dic['comments'] = row[5]
            dic['restaurant'] = row[6]

            # write this info to the local csv
            review_writer.writerow(dic.values())
print('Done')

Done

In [16]:
try:
    missing_url_df = pd.read_csv('missing_urls.csv', header=None)
except pd.errors.EmptyDataError:
    found_missing_urls = list(['File is empty'])
else:
    found_missing_urls = list(missing_url_df)


found_missing_urls

[0]

In [17]:
# Dealing with missing urls
with open('missing_urls.csv', 'a+', encoding='utf-8') as csvfile:
        review_writer = csv.writer(csvfile)
        for url in missing_urls:
            dic = {}
            # print(url)
        
            if url in found_missing_urls:
                continue
            else:
                # Assign the user values to the dictionary
                dic['url'] = url

                # write this info to the local csv
                review_writer.writerow(dic.values())
print('Done')

Done